@{
    ViewBag.Title = "Home Page";
}

@section styles
{
    <style>

        .index {
            height: 400px;
            width:400px;
            border: solid;
            border-radius: 10px;
            display: block;
            margin: auto;
        }
    </style>
}

<div class="jumbotron">
    <div class="row">

        <div class="col-lg-7" style="height:500px; background-color: white">
            <div class="col-lg-12" style="height:50px"></div>

            @*<div class="col-lg-6">
                    <img class="index" src=@Url.Content("/Images/cash2.png") />
                </div>
                <div class="col-lg-6">
                    <img class="index" src=@Url.Content("/Images/stock3.png") />
                </div>

                <div class="col-lg-12" style="height:35px"></div>

                <div class="col-lg-6">
                    <img class="index" src=@Url.Content("/Images/FX2.png") />
                </div>
                <div class="col-lg-6">
                    <img class="index" src=@Url.Content("/Images/deposit2.png") />
                </div>*@

            <div id="myCarousel" class="carousel slide" style="background-color:transparent" align="center">
                <!-- 轮播（Carousel）指标 -->
                @*<ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>*@
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active" style="height:400px">

                        <img class="index" src=@Url.Content("/Images/cash2.png") />
                    </div>
                    <div class="item" style="height:400px">

                        <img class="index" src=@Url.Content("/Images/stock3.png") />
                    </div>
                    <div class="item" style="height:400px">

                        <img class="index" src=@Url.Content("/Images/FX2.png") />
                    </div>
                    <div class="item" style="height:400px">

                        <img class="index" src=@Url.Content("/Images/deposit2.png") />
                    </div>
                    <a  href="#myCarousel"
           data-slide="prev" style="background-color:transparent">&lsaquo;</a>
        <a  href="#myCarousel"
           data-slide="next" style="background-color:transparent">&rsaquo;</a>

                </div>
                <!-- 轮播（Carousel）导航 -->
                @*<a class="carousel-control left" href="#myCarousel"
                   data-slide="prev" style="background-color:transparent">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next" style="background-color:transparent">&rsaquo;</a>*@    
            </div>

        </div>


        <div class="col-lg-5" style="height:500px; background-color: white">
            <span>@Html.Action("Login", "Account")</span>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.carousel').carousel();
    </script>   
    
    }