
<div class="container-fluid" style="width:70%;">
    <h2>目前現金資產</h2>
    <input type="text" id="nowcash" disabled style="font-size:x-large" />
    <h2>外匯資產總表</h2>
    <table id="myGrid"></table>
    <div id="pager"></div>
    <div id="container">
        <canvas id="chart"></canvas>
    </div>
    <br />
    <h3>近期交易紀錄</h3>
    <div id="jsGrid1"></div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    @*<script src="~/Scripts/Chart.min.js"></script>
        <script src="~/Scripts/Utility.js"></script>
        <script src="~/Scripts/Colors.js"></script>*@
    <script>
        var label = [];
        var list = [];
        function calldata() {
            $.ajax({
                type: "POST",
                url: "/TestHome/chartpie",
                data: "name=John&location=Boston",
                dataType: "json",
            }).done(function (data) {
                for (i = 0; i < data.length; i++) {
                    var arr = $.map(data[i], function (qq) { return qq });
                    label.push(arr[0]);
                    list.push(arr[1]);
                }
                loadpie();
            });
        }
        function loadpie() {
            var ctx = document.getElementById('chart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: label /*["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]*/,
                    datasets: [{
                        data: list /*[12, 19, 3, 5, 2, 3]*/,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                }
            });
        }
        function fillData() {
            $("#jsGrid1").jsGrid({
                width: "80%",
                height: "400px",
                filtering: false,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                deleteConfirm: "Do you really want to delete?",
                //pageLoading: true,
                pageSize: 5,
                pageIndex: 1,

                //autoload: true,
                //sorting: true,
                //paging: true,
                //pageLoading: true,
                //pageSize: 10,
                //pageIndex: 5,
                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "http://localhost:55037/TestHome/GetDataTable",
                            data: filter,
                            dataType: "json"
                        });
                    },
                    deleteItem: function (item) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://localhost:55037/TestHome/DELETE/" + item.Id,
                            dataType: "json"
                        }).done(function (fk) {
                            $("#jsGrid1").jsGrid("loadData");
                        });
                    }
                },
                fields:
                    [
                        { title: "序號", name: "Id", type: "text", width: 50, align: "center", visible: false, },
                        { title: "使用者", name: "UserName", type: "text", width: 50, align: "center" },
                        { title: "交易類別", name: "TradeClass", type: "text", width: 50, align: "center", },
                        { title: "外幣種類", name: "CurrencyClass", type: "text", width: 50, align: "center" },
                        { title: "外幣金額", name: "USD", type: "text", width: 50, align: "center" },
                        { title: "外幣匯率", name: "ExchargeRate", type: "text", width: 50, align: "center" },
                        { title: "新台幣金額", name: "NTD", type: "text", width: 50, align: "center" },
                        { title: "交易時間", name: "Tradetime", type: "text", width: 100, align: "center" },
                        { type: "control", editButton: false, }
                    ]
            });
        }

        $("#myGrid").jqGrid({                  //將id=myGrid的DOM元件轉換成jqGrid
            url: 'http://localhost:55037/TestHome/Jqgridtable',  //取得資料的URL，這邊我會到controller取得資料
            datatype: 'json',                  //資料回傳的類型，有json,xml...等等
            jsonReader: {                      //jqgrid讀取json的時候，需要配置jsonReader才能讀取。
                repeatitems: false              //預設是true，但是我回傳的json的內容並不會按照順序回傳，故這邊要設定false，讓jsonReader是用搜尋name去塞入對應的值
            },
            mtype: 'GET',                      //ajax的類型，有GET和POST
            colModel: [                        //這個是欄位的屬性，name屬性必須要與後端回傳的欄位名稱相同，另外也可以顯示欄位名稱，樣式等等。
                { label: "序號", name: "Id", sorttype: "int", width: 50, align: "center", hidden: true },
                { label: "使用者", name: "UserName", sorttype: "text", width: 50, align: "center" },
                { label: "流水號", name: "SummaryId", sorttype: "text", width: 50, align: "center", hidden: true },
                { label: "交易類別", name: "TradeClass", sorttype: "text", width: 100, align: "center" },
                { label: "外幣種類", name: "CurrencyClass", sorttype: "text", width: 100, align: "center" },
                { label: "外幣金額", name: "USD", sorttype: "number", summaryType: 'sum', width: 150, align: "center" },
                { label: "外幣匯率", name: "ExchargeRate", sorttype: "number", width: 100, align: "center" },
                { label: "新台幣金額", name: "NTD", sorttype: "number", summaryType: 'sum', width: 150, align: "center" },
                { label: "交易時間", name: "Tradetime", sorttype: "date", width: 100, align: "center" },
            ],
            pager: '#pager',                 //這是對應到<div>的id，會透過<div>變成分頁的相關UI
            width: 'auto',                   //jqGrid的寬度
            height: '300',                  //jqGrid的高度
            rowNum: 10,                      //jqGrid預設顯示筆數
            rowList: [5, 10, 20, 50],        //jqGrid可選擇每頁顯示幾筆
            sortname: 'Id',                  //jqGrid預設排序欄位名稱
            sortorder: "asc",                //jqGrid預設排序方式asc升冪，desc降冪
            viewrecords: true,               //是否要顯示總筆數
            caption: '個人資產總表',           //jqGrid標題欄顯示的文字
            loadonce: true,                   //是否只載入一次
            grouping: true,
            groupingView: {
                groupField: ['CurrencyClass'],
                groupColumnShow: [true],
                groupText: ['<b>{0}</b>'],
                groupCollapse: false,
                groupOrder: ['asc'],
                groupSummary: [true],
                groupDataSorted: false,
                showSummaryOnHide: true
            }
        });
        jQuery("#myGrid").jqGrid('navGrid', '#pager',
            { edit: false, add: false, del: true, view: true, search: true }, //options
            {}, {},
            {   // del options
                zIndex: 100,
                url: "http://localhost:55037/TestHome/DELETE/",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "確定是否刪除? ",
                onclickSubmit: function (options, postData) {
                    var sel_id = $('#myGrid').jqGrid('getGridParam', 'selrow');
                    var Id = $('#myGrid').jqGrid('getCell', sel_id, 'Id');
                    return { ID: Id };
                },
                afterComplete: function (response) {
                    $('#myGrid').trigger('reloadGrid');
                    $("#jsGrid1").jsGrid("loadData");
                    clearCanvas()
                    calldata()
                    callnowcash()
                }
            },
            {}, // search options
            {}
        )
            .navSeparatorAdd("#pager")
            .jqGrid('navButtonAdd', "#pager", {
                caption: "Add",
                buttomicon: "ui-icon-newwin",
                onClickButton: Adddata,
                position: "last",
                title: "新增買賣外匯記錄",
                cursor: "pointer"
            });
        function Adddata() {
            window.location.href = "http://localhost:55037/ForeignExchange/FX"
        }

        function callnowcash() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Cash","Stock",new {Area= "Stock" },null)",
            }).done(function (result) {
                document.getElementById("nowcash").value = result;
                }).fail(function (err) {
                    var content = JSON.parse(err);
                    alert(content)
                });
        }
        function clearCanvas() {
            $('#chart').remove();
            $('#container').append('<canvas id="chart"></canvas>');
            container = document.getElementById("chart");
            context = container.getContext("2d");
        }
        $(function () {
            jsGrid.locale("zh-tw");
            fillData();
            calldata();
            callnowcash();
        });
    </script>
}
